<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.CollegeApp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.android.CollegeApp.MainActivity"
            android:label="College">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.CollegeApp.LoginActivity"
            android:label="Login" />
        <activity
            android:name="com.example.android.CollegeApp.RegisterActivity"
            android:label="Register"
            android:parentActivityName="com.example.android.CollegeApp.LoginActivity" />
        <activity
            android:name="com.example.android.CollegeApp.BranchActivity"
            android:label="Branches"
            android:parentActivityName="com.example.android.CollegeApp.MainActivity" />
        <activity
            android:name="com.example.android.CollegeApp.editActivities.BranchEditActivity"
            android:label="Edit Branch"
            android:parentActivityName="com.example.android.CollegeApp.BranchActivity" />
        <activity
            android:name="com.example.android.CollegeApp.ClassActivity"
            android:label="Classes"
            android:parentActivityName="com.example.android.CollegeApp.MainActivity" />
        <activity
            android:name="com.example.android.CollegeApp.editActivities.ClassEditActivity"
            android:label="Edit Class"
            android:parentActivityName="com.example.android.CollegeApp.ClassActivity" />
        <activity
            android:name="com.example.android.CollegeApp.SubjectActivity"
            android:label="Subjects"
            android:parentActivityName="com.example.android.CollegeApp.MainActivity" />
        <activity
            android:name="com.example.android.CollegeApp.editActivities.SubjectEditActivity"
            android:label="Edit Subject"
            android:parentActivityName="com.example.android.CollegeApp.SubjectActivity" />
        <activity
            android:name="com.example.android.CollegeApp.ClassSelectActivity"
            android:label="Select Class"
            android:parentActivityName="com.example.android.CollegeApp.MainActivity" />
        <activity
            android:name="com.example.android.CollegeApp.StudentActivity"
            android:label="Students"
            android:parentActivityName="com.example.android.CollegeApp.ClassSelectActivity" />
        <activity
            android:name="com.example.android.CollegeApp.editActivities.StudentEditActivity"
            android:label="Edit Student"
            android:parentActivityName="com.example.android.CollegeApp.StudentActivity" />
        <activity
            android:name="com.example.android.CollegeApp.FacScheduleActivity"
            android:label="Schedule"
            android:parentActivityName="com.example.android.CollegeApp.MainActivity" />
        <activity
            android:name="com.example.android.CollegeApp.editActivities.FacSchEditActivity"
            android:label="Edit Lecture"
            android:parentActivityName="com.example.android.CollegeApp.FacScheduleActivity" />
        <activity
            android:name="com.example.android.CollegeApp.FacultyActivity"
            android:label="Faculties"
            android:parentActivityName="com.example.android.CollegeApp.MainActivity" />
        <activity
            android:name="com.example.android.CollegeApp.editActivities.FacultyEditActivity"
            android:label="Edit Faculty"
            android:parentActivityName="com.example.android.CollegeApp.FacultyActivity" />

    </application>

</manifest>