<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.attendmanage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:label="Manage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:label="Login"/>

        <activity android:name=".RegisterActivity"
            android:label="Register"
            android:parentActivityName=".LoginActivity"/>

        <activity
            android:name=".BranchActivity"
            android:parentActivityName=".MainActivity"
            android:label="Branches"/>
        <activity
            android:name=".editActivities.BranchEditActivity"
            android:parentActivityName=".BranchActivity"
            android:label="Edit Branch"/>
        <activity
            android:name=".ClassActivity"
            android:parentActivityName=".MainActivity"
            android:label="Classes"/>
        <activity
            android:name=".editActivities.ClassEditActivity"
            android:parentActivityName=".ClassActivity"
            android:label="Edit Class"/>
        <activity
            android:name=".SubjectActivity"
            android:parentActivityName=".MainActivity"
            android:label="Subjects"/>
        <activity
            android:name=".editActivities.SubjectEditActivity"
            android:parentActivityName=".SubjectActivity"
            android:label="Edit Subject"/>
        <activity
            android:name=".ClassSelectActivity"
            android:parentActivityName=".MainActivity"
            android:label="Select Class"/>
        <activity
            android:name=".StudentActivity"
            android:parentActivityName=".ClassSelectActivity"
            android:label="Students"/>
        <activity
            android:name=".editActivities.StudentEditActivity"
            android:parentActivityName=".StudentActivity"
            android:label="Edit Student"/>
        <activity
            android:name=".FacScheduleActivity"
            android:parentActivityName=".MainActivity"
            android:label="Schedule"/>
        <activity
            android:name=".editActivities.FacSchEditActivity"
            android:parentActivityName=".FacScheduleActivity"
            android:label="Edit Lecture"/>
        <activity
            android:name=".FacultyActivity"
            android:parentActivityName=".MainActivity"
            android:label="Faculties"/>
        <activity
            android:name=".editActivities.FacultyEditActivity"
            android:parentActivityName=".FacultyActivity"
            android:label="Edit Faculty"/>
    </application>

</manifest>